@charset "UTF-8";

*{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'minha_fonte';
    src: url(../../fontes/Square.ttf);
}

@font-face {
    font-family: 'minha_fonte2';
    src: url(../../fontes/supercharge3d.ttf);
}

@font-face {
    font-family: 'minha_fonte3';
    src: url(../../fontes/KIdDOS-Regular.otf);
}

body {
  display: flex;
  flex-direction: column;
}

h1 a{
  font-family: minha_fonte;
}

h2{
  font-family: minha_fonte2;
}

header a{
  background-color: rgb(5, 135, 228);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-decoration: none;
}

footer {
  background-color: rgb(5, 135, 228);
  color: white;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
}

.fot{
  margin: auto;
  padding-top: 10px;
  font-size: 16px;
}

main{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  color: black;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.section_cadastro{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro{
  border: 2px solid rgb(5, 135, 228);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn{
  background-color: rgb(5, 135, 228);
  color: white;
  padding: 10px;
}