@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #24343c;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px;
}

.Tela_login{
  background-color: #14242c;
  width: 400px;
  height: 432px;
  color: #d6dce7;
  border-radius: 10px;
}

.dados{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

figure{
  padding: 10px;
}

figure img{
  width: 30px;
  height: 30px;
}

.input{
  width: 350px;
  height: 60px;
  background-color: #14242c;
  border: 2px solid #d6dce7;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.input input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: #14242c;
  color: #d6dce7;
}

.input_Nome input{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input button{
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 0;
  background: none;
}

input::placeholder{
  font-size: 16px;
  color: #d6dce7;
}

input:focus{
  outline: none;
}

#icon{
  background-image: url('../img/visibility_off_white_24dp.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#icon.hide{
  background-image: url('../img/visibility_white_24dp.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Esqueceu_Senha{
  text-align: end;
  text-decoration: none;
  color: #b1b5be;
}

.button_submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  border: 0px;
  color: aliceblue;
  background-color: rgb(5, 135, 228);
  cursor: pointer;
}

.button_submit:hover{
  background-color: rgb(3, 78, 133);
}

.section_cadastro{
  text-align: center;
}

.Link_cadastro{
  text-decoration: none;
  color: rgb(5, 135, 228);
}