@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: auto;
  max-width: 800px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #FD6454, #FF8252, #FF9C51, #FFB051);
  background-size: cover; 
}

main > div{
  display: block;
  text-align: center;
  max-width: 800px;
  min-width: 350px;
  margin: 50% auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 10px;
}

.dados{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

h1{
  padding: 10px 0px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

input#in1, input#in2{
  padding: 10px;
  border-radius: 10px;
}

.lin1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  background-color: rgb(5, 135, 228);
  color: aliceblue;
  font-weight: bolder;

  height: 5px;
  max-width: 250px;
  min-width: 250px;
  padding: 15px 0px;

  text-decoration: none;
  border-radius: 0px;
  box-shadow: black 1px 1px 3px ;
}

a.lin2, a.lin3{
  display: block;
  text-align: center;
  margin: auto;
  text-decoration: none;

  color: rgb(31, 30, 30);
  font-weight: bolder;
  height: 20px;
  max-width: 800px;
  min-width: 250px;
}

a.lin2:hover, a.lin3:hover{
  text-decoration: underline;
}

.dados{
  width: 250px;
}

.input-button, input{
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.input-button input{
  border: 0;
}

.input button{
  width: 32px;
  height: 32px;
  border: 0px;
  background: none;
}

.input, .input_Nome{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input_Nome input{
  width:222px;
}