@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #24343c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela_recuperacao_senha{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px;
  background-color: #14242c;
  width: 400px;
  height: 432px;
  color: #d6dce7;
  border-radius: 10px;
}

.dados{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

figure{
  padding: 10px;
}

figure img{
  width: 30px;
  height: 30px;
}

label{
  font-size: 20px;
}

.input{
  width: 350px;
  height: 60px;
  background-color: #14242c;
  border: 2px solid #d6dce7;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.input input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: #14242c;
  border-radius: 10px;
  color: #d6dce7;
  -webkit-box-shadow: 0 0 0 30px #14242c inset;
  -webkit-text-fill-color: #d6dce7 !important;
}

input::placeholder{
  font-size: 16px;
  color: #d6dce7;
}

input:focus{
  outline: none;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  border: 0px;
  color: aliceblue;
  background-color: rgb(5, 135, 228);
  cursor: pointer;
}

button:hover{
  background-color: rgb(3, 78, 133);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

#nascimento{
  font-size: 16px;
}

.section_login{
  text-align: center;
}

.Link_login{
  text-decoration: none;
  color: rgb(5, 135, 228);
}